@page "/users"
@inject IUserService UserService
@inject NavigationManager NavigationManager

<h3>User</h3>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in UserService.SystemUsers)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>
                    <button class="btn btn-primary"
                            @onclick="(() => ShowUser(user.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary"
        @onclick="CreateNewUser">
    Create New User
</button>



@code {

    protected override async Task OnInitializedAsync()
    {
        await UserService.GetUsers();
    }

    void ShowUser(int id)
    {
        NavigationManager.NavigateTo($"user/{id}");
    }

    void CreateNewUser()
    {
        NavigationManager.NavigateTo("/user");
    }

}