@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           <LoginLogoutButton></LoginLogoutButton>
        </div>

        <article class="content px-4">
            <ErrorBoundary @ref="errorBoundary">
                <ChildContent>
                     @Body
                </ChildContent>
                <ErrorContent Context="Exception">
                    <div class="alert alert-danger">
                        @Exception.GetType() <br />
                        @Exception.Message <br />
                        @Exception.InnerException?.Message
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {
    private ErrorBoundary? errorBoundary;
    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}
